/* GENERAL PRE HEADER */
.pre-header {
  background-color: #444444;
}

.pre-header-padding {
  padding-top: 5px;
  padding-bottom: 5px;
}

//custom email svg image
.mail-image-one {
  max-width: 180px;
}

//custom email svg image
.mail-image-two {
  max-width: 230px;
}

