/* padding */
.top-bottom-padding-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.left-padding-10 {
  padding-left: 10px;
}
.left-padding-20 {
  padding-left: 20px;
}
.top-bottom-padding-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.top-bottom-padding-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.full-padding-30 {
  padding: 30px 30px;
}
.top-bottom-padding-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.bottom-padding-100 {
  padding-bottom: 100px;
}

/* margin */
.left-margin-10 {
  margin-left: 10px;
}
.top-margin-16 {
  margin-top: 16px;
}
.left-margin-20 {
  margin-left: 20px;
}
.top-margin-20 {
  margin-top: 20px;
}
.left-right-margin-30 {
  margin-left: 30px;
  margin-right: 30px;
}
.top-margin-50 {
  margin-top: 50px;
}
.top-margin-100 {
  margin-top: 100px;
}
.bottom-margin-1rem{
  margin-bottom: 1rem;
}
