$title-font-family: 'Dosis', sans-serif;
$text-font-family: 'Open Sans', sans-serif;
$main-color: #1E8946;
$main-color-opacity: rgba(30, 137, 70, 0.8);
$main-color-contrast: #00C897;
$secondary-color: #191919;
$title-color: #37404d;
$paragraph-color: #616771;
$title-font-size-desktop: 60px;
$tittle-font-size-mobile: 40px;
$paragraph-font-size-desktop: 20px;
$paragraph-font-size-mobile: 16px;