/* root */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

}

@import "variables";
@import "spaces";

/* GENERAL STYLES */
body {
  color: $paragraph-color;
  font-family: $text-font-family;
  line-height: normal; //replace bootstrap rule
}

h1 {
  font-family: $title-font-family;
  color: $title-color;
  font-weight: 600;
  text-align: center;
}

p {
  margin-top: 16px;
  text-align: center;
}

ul {
  list-style-type: none; //replace bootstrap rule
}

a {
  /*for svg container with url*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

p {
  margin-top: 16px;
  text-align: center;
}

.main-color {
  color: $main-color;
}

/* background */
.background-secondary-color {
  background-color: $secondary-color;
}

.background-building {
  /*background: linear-gradient(90deg, rgba(217,230,221,0.5243231081495099) 0%, rgba(246,247,246,0.8604575619310224) 100%), url(../images/building-bg.jpg) 0 0 / cover no-repeat;*/
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(234,236,198,.7), rgba(255, 255, 255, 0.8), rgba(52,219,216,.7)) 0 0 / 1000% no-repeat, url(../images/building-bg.jpg) 0 0 / cover no-repeat;
}

.background-about-us {
  background: linear-gradient(90deg, rgba(41,136,70,0.7372082622111344) 0%, rgba(41,136,70,0.8436508392419468) 100%), url(../images/mundi2-bg.jpg) 0 0 / cover no-repeat;
  background-position: center;
}

.about {
  h2 {
    color: $secondary-color;
  }
}

.background-contact {
  background: linear-gradient(90deg, rgba(68,68,68,0.8268441165528712) 0%, rgba(68,68,68,0.8324463574492297) 100%), url(../images/truck-fast.jpg) 0 0 / cover no-repeat;
  background-position: center;
}

.page-hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  background-image: url(../images/warehouse-bg.jpg);
  position: relative;
  padding-top: 111px;
  padding-bottom: 110px
}
.page-hero .bg-overlay {
  background: rgba(255,255,255,0.9);
}
.bg-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

}
.page-hero .container {
  position: relative;
}

@import "components";
@import "pre-header";
@import "footer";

/* DEFAULT MEDIA PROPERTIES */
/* phone */
@media (max-width: 575px) {

  .mobile-view-no {
    display: none;
    visibility: collapse;
  }

  h1 {
    font-size: $tittle-font-size-mobile;
  }

  body {
    font-size: $paragraph-font-size-mobile;
  }

  .header-logo-size {
    width: 120px;
    min-width: 100px;
  }

  .body-logo-size {
    width: 320px;
    min-width: 250px;
  }

  /* hero section */
  #particles-js {
    height: 40vh;
  }

  .hero-panel {
    position: absolute;
    top: 16%;
    left: 20%;
    right: 20%;
  }
  //end hero section

  .body-logo-margin{
    margin-top: 50px;
  }

  .about-us-container {
    min-width: 250px;
    width: 340px;
  }

}
/* tablet */
@media (min-width: 576px) and (max-width: 991px) {

  .mobile-view-no {
    display: none;
    visibility: collapse;
  }

  h1 {
    font-size: $tittle-font-size-mobile;
  }

  body {
    font-size: $paragraph-font-size-mobile;
  }

  .header-logo-size {
    width: 120px;
    min-width: 100px;
  }

  .body-logo-size {
    width: 320px;
    min-width: 250px;
  }

  /* hero section */
  #particles-js {
    height: 50vh;
  }

  .hero-panel {
    position: absolute;
    top: 24%;
    left: 20%;
    right: 20%;
  }
  //end hero section

  .body-logo-margin{
    margin-top: 50px;
  }

  .about-us-container {
    min-width: 250px;
    width: 340px;
  }

  .about {
    width: 100%;
  }

  .align-text-left{
    text-align: left;
  }

}

/* desktop */
@media (min-width: 992px) {

  .desktop-view-no {
    display: none;
    visibility: collapse;
  }

  h1 {
    font-size: $title-font-size-desktop;
  }

  body {
    font-size: $paragraph-font-size-desktop;
  }

  .header-logo-size {
    width: 150px;
    min-width: 100px;
  }

  .body-logo-size {
    width: 80%;
    min-width: 350px;
  }

  .hero-tittle {
    font-size: 70px;
  }

  /* hero section */
  #particles-js {
    height: 81vh;
  }

  .hero-panel {
    position: absolute;
    top: 44%;
    left: 20%;
    right: 20%;
  }
  //end hero section

  .right-no-margin {
    margin-right: 0;
  }

  .about {
    width: 100%;
  }

  .align-text-left{
    text-align: left;
  }

  .about-us-container {
    max-width: 450px;
  }

}

