<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nuestra Empresa - Almacén Sirius | Perú</title>
    <meta name="description" content="En Almacén Sirius aplicamos valores. Nuestra empresa tiene una misión con el cliente, el éxito.">
    <meta name="keywords" content="valores, misión, visión, nuestra empresa, almacén aduanero">
    <meta name="locale" content="es_pe">
    <meta name="robots" content="index">
    <meta property="og:title" content="Nuestra Empresa - Almacén Sirius | Perú">
    <meta property="og:description" content="En Almacén Sirius aplicamos valores. Nuestra empresa tiene una misión con el cliente, el éxito.">
    <meta property="og:image" content="">
    <meta name="theme-color" content="#1E8946">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.css"> <!-- bootstrap -->
    <link rel="stylesheet" href="../assets/styles/style.css">

</head>
<body>
    <header>
        <div class="pre-header">
            <section class="container pre-header-padding"> <!-- pre header-->
                <div class="row align-items-center">
                    <div class="col-9">
                        <div class="d-flex">
                            <span class="iconify text-white" data-icon="ant-design:mail-twotone" ></span>
                            <img src="../assets/images/correo-sirius-2.svg" class="mail-image-two left-padding-10 mobile-view-no" alt="">
                            <span class="iconify text-white left-margin-20 phone-view-no tablet-small-view-no" data-icon="ant-design:mail-twotone" ></span>
                            <img src="../assets/images/correo.svg" class="mail-image-one left-padding-10 phone-view-no tablet-small-view-no" alt="">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="d-flex justify-content-end"> <!-- redes sociales -->
                            <a href="https://facebook.com/" target="_blank">
                                <span class="iconify text-white" data-icon="dashicons:whatsapp" data-width="20" data-height="20"></span>
                            </a>
                            <a href="https://facebook.com/" target="_blank">
                                <span class="iconify text-white left-margin-10" data-icon="mdi:facebook" data-width="20" data-height="20"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section class="background-secondary-color"> <!-- header-->
            <div class="container top-bottom-padding-15">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="header-logo-size"> <!-- logo -->
                        <a href="#"><img src="../assets/images/logo-sirius-blank.svg" class="img-fluid" alt="logo sirius"></a>
                    </div>
                    <nav class="desktop-view-no"> <!-- menu -->
                        <input id="menu-toggle" type="checkbox" />
                        <label class='menu-button-container' for="menu-toggle">
                            <div class='menu-button'></div>
                        </label>
                        <ul class="menu">
                            <li><a href="../index.html"> INICIO </a></li>
                            <li><a href="empresa.html"> NUESTRA EMPRESA </a></li>
                            <li><a href="servicio-almacen.html">ALMACENAJE</a></li>
                            <li><a href="logistica-integral.html"> LOGÍSTICA </a></li>
                            <li><a href="contacto.html"> CONTACTO </a></li>
                        </ul>
                    </nav>
                    <nav class="phone-view-no tablet-small-view-no tablet-medium-view-no"> <!-- menu desktop -->
                        <ul class="header-menu-desktop">
                            <li>
                                <div class="menu-container-desktop"><a href="../index.html" >INICIO</a></div>
                            </li>
                            <li>
                                <div class="menu-container-desktop"><a href="empresa.html"> EMPRESA </a></div>
                            </li>
                            <li>
                                <div class="menu-container-desktop"><a href="servicio-almacen.html">ALMACENAJE</a></div>
                            </li>
                            <li>
                                <div class="menu-container-desktop"><a href="logistica-integral.html"> LOGÍSTICA </a></div>
                            </li>
                            <li>
                                <div class="menu-container-desktop right-no-margin"><a href="contacto.html">CONTACTO</a></div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </section>
    </header>

    <main>
        <section> <!-- hero -->
            <div class="page-hero">
                <div class="bg-overlay"></div>
                <div class="container">
                    <article class="d-flex flex-column justify-content-center align-items-center">
                        <h1 class="text-black">Nuestra Empresa</h1>
                        <nav aria-label="ruta de exploración">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="../index.html">Inicio</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Nuestra Empresa</li>
                            </ol>
                        </nav>
                    </article>
                </div>
            </div>
        </section>

        <section> <!-- introduction -->
            <div class="container">
                <div class="top-bottom-margin-100">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="body-logo-size-full">
                            <img src="../assets/images/logo-sirius-default.svg" class="img-fluid" alt="Logo Almacen Sirius">
                        </div>
                        <article class="text-center secondary-color top-margin-50 ">
                            <h3>En Almacén Sirius recalcamos la importancia de nuestra identidad como reflejo de nuestro compromiso con el cliente</h3>
                        </article>
                    </div>
                </div>

            </div>
        </section>

        <section class="background-warehouse-2"> <!-- mision - vision -->
            <div>
                <div class="row fix-full-row ">
                    <div class="col phone-view-no">
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="../assets/images/mision.png" alt="mision" class="mision-vision-image top-bottom-padding-50">
                        </div>
                    </div>
                    <div class="col background-main-color-opacity d-flex align-items-center">
                        <article class="d-flex flex-column align-items-center justify-content-center mision-vision-content">
                            <h3 class="text-white">Nuestra Misión</h3>
                            <p class="left-right-margin-30 text-white">Almacén Sirius contribuye con los objetivos del cliente de manera efeciente y segura a través de sus servicios logísticos, manteniendo la calidad humana y un compromiso continuo en todos sus procesos.</p>
                        </article>
                    </div>
                </div>
            </div>
            <div>
                <div class="row fix-full-row ">
                    <div class="col background-main-color-opacity d-flex align-items-center">
                        <article class="d-flex flex-column align-items-center justify-content-center mision-vision-content">
                            <h3 class="text-white">Nuestra Visión</h3>
                            <p class="left-right-margin-30 text-white">Ser una organización latinoamericana líder en el sector logístico, asegurando la calidad de los servicios a través de estándares e innovación.</p>
                        </article>
                    </div>
                    <div class="col phone-view-no">
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="../assets/images/vision.png" alt="mision" class="mision-vision-image top-bottom-padding-50">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section> <!-- valores -->
            <div class="container">
                <div class="row top-bottom-margin-100">
                    <article class="d-flex flex-column justify-content-center align-items-center ">
                        <h2> Trabajamos con <span class="main-color">Valores</span> </h2>
                        <hr class="hr-default">
                        <p>Nuestra atención y metodología profesional acompañada de valores hace una fórmula perfecta para alcanzar el éxito.</p>
                    </article>
                </div>
            </div>
            <div class="container bottom-margin-50 phone-view-no tablet-small-view-no">
                <div class="row">
                    <div class="col">

                    </div>
                    <div class="col">
                        <article class="d-flex flex-column align-items-center justify-content-center">
                            <span class="iconify" data-icon="fluent:communication-person-20-regular" data-width="40" data-height="40"></span>
                            <h4 class="text-center top-margin-10">Honestidad</h4>
                            <p>Mostramos transparencia en cada uno de nuestros servicios.</p>
                        </article>
                    </div>
                    <div class="col">

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col star-container">
                                <article class="d-flex flex-column align-items-center justify-content-center star-left">
                                    <span class="iconify" data-icon="gg:edit-black-point" data-width="40" data-height="40"></span>
                                    <h4 class="text-center top-margin-10">Responsabilidad</h4>
                                    <p>Afrontamos nuestros procedimientos de manera positiva e integral.</p>
                                </article>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col star-container">
                                <article class="d-flex flex-column align-items-center justify-content-center star-left">
                                    <span class="iconify" data-icon="fluent:people-team-toolbox-20-regular" data-width="40" data-height="40"></span>
                                    <h4 class="text-center top-margin-10">Trabajo en Equipo</h4>
                                    <p>Nos planteamos un objetivo en común: la satisfaccion del cliente.</p>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center justify-content-center">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <div class="body-star-size">
                                <img src="../assets/images/sirius.svg" alt="estrella sirius">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col star-container">
                                <article class="d-flex flex-column align-items-center justify-content-center star-right">
                                    <span class="iconify" data-icon="bi:hand-thumbs-up" data-width="40" data-height="40"></span>
                                    <h4 class="text-center top-margin-10">Ética</h4>
                                    <p>Nos basamos en un código interno de trabajo dirigido hacia la satisfaccion del cliente.</p>
                                </article>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col star-container">
                                <article class="d-flex flex-column align-items-center justify-content-center star-right">
                                    <span class="iconify" data-icon="clarity:recycle-line" data-width="40" data-height="40"></span>
                                    <h4 class="text-center top-margin-10">Mejora Continua</h4>
                                    <p>A traves de las experiencias mejoramos nuestros procesos y técnicas continuamente.</p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">

                    </div>
                    <div class="col">
                        <article class="d-flex flex-column align-items-center justify-content-center">
                            <span class="iconify" data-icon="bytesize:lock" data-width="40" data-height="40"></span>
                            <h4 class="text-center top-margin-10">Lealtad</h4>
                            <p>Brindamos un compromiso seguro con nuestros clientes, creando un ambiente de confianza.</p>
                        </article>
                    </div>
                    <div class="col">

                    </div>
                </div>
            </div>

            <div class="container bottom-margin-50 tablet-medium-view-no desktop-view-no">
                <div class="row">
                    <div class="col star-container">
                        <article class="d-flex flex-column align-items-center justify-content-center">
                            <span class="iconify" data-icon="fluent:communication-person-20-regular" data-width="40" data-height="40"></span>
                            <h4 class="text-center top-margin-10">Honestidad</h4>
                            <p>Mostramos transparencia en cada uno de nuestros servicios.</p>
                        </article>
                    </div>
                    <div class="col star-container">
                        <article class="d-flex flex-column align-items-center justify-content-center">
                            <span class="iconify" data-icon="gg:edit-black-point" data-width="40" data-height="40"></span>
                            <h4 class="text-center top-margin-10">Responsabilidad</h4>
                            <p>Afrontamos nuestros procedimientos de manera positiva e integral.</p>
                        </article>
                    </div>
                </div>
                <div class="row">
                    <div class="col star-container">
                        <article class="d-flex flex-column align-items-center justify-content-center">
                            <span class="iconify" data-icon="fluent:people-team-toolbox-20-regular" data-width="40" data-height="40"></span>
                            <h4 class="text-center top-margin-10">Trabajo en Equipo</h4>
                            <p>Nos planteamos un objetivo en común: la satisfaccion del cliente.</p>
                        </article>
                    </div>
                    <div class="col star-container">
                        <article class="d-flex flex-column align-items-center justify-content-center">
                            <span class="iconify" data-icon="clarity:recycle-line" data-width="40" data-height="40"></span>
                            <h4 class="text-center top-margin-10">Mejora Continua</h4>
                            <p>A traves de las experiencias mejoramos nuestros procesos y técnicas continuamente.</p>
                        </article>

                    </div>
                </div>
                <div class="row">
                    <div class="col star-container">
                        <article class="d-flex flex-column align-items-center justify-content-center">
                            <span class="iconify" data-icon="bi:hand-thumbs-up" data-width="40" data-height="40"></span>
                            <h4 class="text-center top-margin-10">Ética</h4>
                            <p>Nos basamos en un código interno de trabajo dirigido hacia la satisfaccion del cliente.</p>
                        </article>
                    </div>
                    <div class="col star-container">
                        <article class="d-flex flex-column align-items-center justify-content-center">
                            <span class="iconify" data-icon="bytesize:lock" data-width="40" data-height="40"></span>
                            <h4 class="text-center top-margin-10">Lealtad</h4>
                            <p>Brindamos un compromiso seguro con nuestros clientes, creando un ambiente de confianza.</p>
                        </article>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer class="background-secondary-color">
        <div class="container">
            <div class="row justify-content-center align-items-baseline top-bottom-padding-50">
                <div class="col">
                    <div class="d-flex flex-column justify-content-center align-items-center footer-column-container bottom-margin-1rem">
                        <h4 class="text-center main-color"> Almacén Sirius </h4>
                        <div class="footer-logo-size top-margin-20"> <!-- logo -->
                            <img src="../assets/images/logo-sirius-blank.svg" class="img-fluid" alt="logo sirius">
                        </div>
                        <div class="d-flex justify-content-center align-items-center text-center top-margin-20">
                            <a href="https://facebook.com/" target="_blank">
                                <span class="iconify footer-icon" data-icon="dashicons:whatsapp" data-width="32" data-height="32"></span>
                            </a>
                            <a href="https://facebook.com/" class="left-padding-20" target="_blank">
                                <span class="iconify footer-icon" data-icon="mdi:facebook" data-width="32" data-height="32"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex flex-column justify-content-center align-items-center footer-column-container">
                        <h4 class="text-center main-color"> Enlaces de Interés </h4>
                        <ul class="footer-menu top-margin-20">
                            <li><a href="../index.html"> INICIO </a></li>
                            <li><a href="empresa.html" class="text-center"> NUESTRA EMPRESA </a></li>
                            <li><a href="servicio-almacen.html">ALMACENAJE</a></li>
                            <li><a href="logistica-integral.html"> LOGÍSTICA </a></li>
                            <li><a href="contacto.html"> CONTACTO </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex flex-column justify-content-center align-items-center footer-column-container">
                        <h4 class="text-center main-color footer-top-margin"> Encuéntranos </h4>
                        <p class="text-white footer-text-size top-margin-20">CAR.Panamericana Sur KM. 1308 MZA. R Lote. 2,27 OTR. Complejo ZofraTacna (LTES 1,2,27 Y 28) Tacna – Perú</p>
                        <div class="d-flex flex-column justify-content-center align-items-center top-margin-16">
                            <div class="d-flex justify-content-center align-items-center top-bottom-padding-5">
                                <span class="iconify text-white" data-icon="ant-design:mail-twotone" ></span>
                                <img src="../assets/images/correo.svg" class="mail-image-one-footer left-margin-10" alt="">
                            </div>
                            <div class="d-flex justify-content-center align-items-center top-bottom-padding-5">
                                <span class="iconify text-white" data-icon="ant-design:mail-twotone" ></span>
                                <img src="../assets/images/correo-sirius-2.svg" class="mail-image-two-footer left-margin-10" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script> <!-- API icons-->
    <script src="../assets/bootstrap/js/bootstrap.js"></script> <!-- bootstrap -->
</body>
</html>