<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Servicio de Almacenaje - Almacén Sirius | Perú</title>
    <meta name="description" content="Custodia de mercancía en el almacén, manipuleo de productos y logística. Somos un depósito franco público.">
    <meta name="keywords" content="almacén, mercadería, productos, custodia, carga, almacén aduanero, depósito franco">
    <meta name="locale" content="es_pe">
    <meta name="robots" content="index">
    <meta property="og:title" content="Servicio de Almacenaje - Almacén Sirius | Perú">
    <meta property="og:description" content="Custodia de mercancía en el almacén, manipuleo de productos y logística. Somos un depósito franco público.">
    <meta property="og:url" content="https://almacensirius.com/views/servicio-almacen.html"/>
    <meta property="og:image" content="../assets/images/logo-sirius-default.svg">
    <meta name="theme-color" content="#1E8946">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.css"> <!-- bootstrap -->
    <link rel="stylesheet" href="../assets/styles/style.css">
</head>
<body>
<header>
    <div class="pre-header">
        <section class="container pre-header-padding"> <!-- pre header-->
            <div class="row align-items-center">
                <div class="col-9">
                    <div class="d-flex">
                        <span class="iconify text-white" data-icon="ant-design:mail-twotone" ></span>
                        <img src="../assets/images/correo-sirius-2.svg" class="mail-image-two left-padding-10 mobile-view-no" alt="">
                        <span class="iconify text-white left-margin-20 phone-view-no tablet-small-view-no" data-icon="ant-design:mail-twotone" ></span>
                        <img src="../assets/images/correo.svg" class="mail-image-one left-padding-10 phone-view-no tablet-small-view-no" alt="">
                    </div>
                </div>
                <div class="col-3">
                    <div class="d-flex justify-content-end"> <!-- redes sociales -->                        
                        <div>
                            <a href="https://www.facebook.com/AlmacenSirius/" aria-label="facebook" target="_blank">
                                <span class="iconify text-white" data-icon="mdi:facebook" data-width="20" data-height="20"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="background-secondary-color"> <!-- header-->
        <div class="container top-bottom-padding-15">
            <div class="d-flex justify-content-between align-items-center">
                <div class="header-logo-size"> <!-- logo -->
                    <a href="../index.html"><img src="../assets/images/logo-sirius-blank.svg" class="img-fluid" alt="logo sirius"></a>
                </div>
                <nav class="desktop-view-no"> <!-- menu -->
                    <input id="menu-toggle" type="checkbox" />
                    <label class='menu-button-container' for="menu-toggle">
                        <div class='menu-button'></div>
                    </label>
                    <ul class="menu">
                        <li><a href="../index.html"> INICIO </a></li>
                        <li><a href="empresa.html"> NUESTRA EMPRESA </a></li>
                        <li><a href="servicio-almacen.html">ALMACENAJE</a></li>
                        <li><a href="logistica-integral.html"> LOGÍSTICA INTEGRAL </a></li>
                        <li><a href="contacto.html"> CONTACTO </a></li>
                    </ul>
                </nav>
                <nav class="phone-view-no tablet-small-view-no tablet-medium-view-no"> <!-- menu desktop -->
                    <ul class="header-menu-desktop">
                        <li>
                            <div class="menu-container-desktop"><a href="../index.html" >INICIO</a></div>
                        </li>
                        <li>
                            <div class="menu-container-desktop"><a href="empresa.html"> EMPRESA </a></div>
                        </li>
                        <li>
                            <div class="menu-container-desktop"><a href="servicio-almacen.html">ALMACENAJE</a></div>
                        </li>
                        <li>
                            <div class="menu-container-desktop"><a href="logistica-integral.html"> LOGÍSTICA INTEGRAL </a></div>
                        </li>
                        <li>
                            <div class="menu-container-desktop right-no-margin"><a href="contacto.html">CONTACTO</a></div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </section>
</header>

<main>
    <section> <!-- hero -->
        <div class="page-hero">
            <div class="bg-overlay"></div>
            <div class="container">
                <article class="d-flex flex-column justify-content-center align-items-center">
                    <h1 class="text-black">Servicio de Almacenaje</h1>
                    <nav aria-label="ruta de exploración">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="../index.html">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Almacenaje</li>
                        </ol>
                    </nav>
                </article>
            </div>
        </div>
    </section>

    <section> <!-- deposito franco -->
        <div class="container top-bottom-margin-100">
            <div class="row phone-view-no tablet-small-view-no">
                <div class="col-9 d-flex align-items-center">
                    <article class="d-flex flex-column">
                        <h2 class="text-start">Somos un <span class="main-color">Depósito Franco</span> Público</h2>
                        <p class="text-start">Formamos parte de una Zona Franca, accediendo a beneficios tributarios, aduaneros y logísticos. Se parte de estos grandes beneficios.</p>
                    </article>
                </div>
                <div class="col-3 d-flex justify-content-end">
                    <div class="simple-card">
                        <article class="d-flex flex-column full-padding-15">
                            <p>Formamos parte de la</p>
                            <p class="main-color text-center"><strong>Zona Franca de Tacna</strong></p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="tablet-medium-view-no desktop-view-no">
                <div class="d-flex flex-column align-items-center align-content-center ">
                    <article class="d-flex flex-column">
                        <h2 >Somos un <span class="main-color">Depósito Franco</span> Público</h2>
                        <p >Formamos parte de una Zona Franca, accediendo a beneficios tributarios, aduaneros y logísticos. Se parte de estos grandes beneficios.</p>
                    </article>
                    <div class="simple-card">
                        <article class="d-flex flex-column full-padding-15">
                            <p>Formamos parte de la</p>
                            <p class="main-color text-center"><strong>Zona Franca de Tacna</strong></p>
                        </article>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section> <!-- almacen services -->
        <div class="container">
            <div class="row">
                <div class="col d-flex align-items-center justify-content-center">
                    <div class="rainbow-card d-flex align-items-center justify-content-center">
                        <article class="d-flex flex-column full-padding-30 align-items-center">
                            <span class="iconify main-color" data-icon="bi:box-seam" data-width="50" data-height="50"></span>
                            <h3 class="text-center">Custodia de mercancía</h3>
                            <p class="text-center"> Nos encargamos del depósito y custodía de mercancías procedentes del exterior, territorio Nacional o las producidas en ZofraTacna y Zona de Extensión.</p>
                        </article>
                    </div>
                </div>
                <div class="col d-flex align-items-center justify-content-center">
                    <div class="rainbow-card d-flex align-items-center justify-content-center">
                        <article class="d-flex flex-column full-padding-30 align-items-center">
                            <span class="iconify main-color" data-icon="material-symbols:label-off-outline" data-width="50" data-height="50"></span>
                            <h3 class="text-center">Rotulado y etiquetado</h3>
                            <p class="text-center"> Revisamos y preparamos la mercancía para su tránsito a través de etiquetas, rótulos, entre otros, según requerimiento de la mercancía.</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex align-items-center justify-content-center">
                    <div class="rainbow-card d-flex align-items-center justify-content-center">
                        <article class="d-flex flex-column full-padding-30 align-items-center">
                            <span class="iconify main-color" data-icon="mdi:forklift" data-width="50" data-height="50"></span>
                            <h3 class="text-center">Manipuleo de carga</h3>
                            <p class="text-center">Disponemos convenientemente de la mercancía para su desembarque o transporte, mejorando su acondicionamiento o almacenaje.</p>
                        </article>
                    </div>
                </div>
                <div class="col d-flex align-items-center justify-content-center">
                    <div class="rainbow-card d-flex align-items-center justify-content-center">
                        <article class="d-flex flex-column full-padding-30 align-items-center">
                            <span class="iconify main-color" data-icon="icon-park-outline:transporter" data-width="50" data-height="50"></span>
                            <h3 class="text-center">Distribución de mercancía</h3>
                            <p class="text-center"> Nos encargamos del depósito y custodía de mercancías procedentes del exterior, territorio Nacional o las producidas en ZofraTacna y Zona de Extensión.</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="background-main-color"> <!-- contacto -->
        <div class="container top-margin-50">
            <div class="row top-bottom-padding-50 d-flex justify-content-center align-items-center">
                <div class="col-8 column-width">
                    <article class="d-flex flex-column align-items-center align-content-center">
                        <h3 class="text-center">¿Deseas consultar por alguno de nuestros servicios?</h3>
                        <p class="text-white"> Contáctanos para brindarte un servicio personalizado.</p>
                    </article>
                </div>                
            </div>
        </div>
    </section>
</main>

<footer class="background-secondary-color">
    <div class="container">
        <div class="row justify-content-center align-items-baseline top-bottom-padding-50">
            <div class="col">
                <div class="d-flex flex-column justify-content-center align-items-center footer-column-container bottom-margin-1rem">
                    <h4 class="text-center main-color"> Almacén Sirius </h4>
                    <div class="footer-logo-size top-margin-20"> <!-- logo -->
                        <img src="../assets/images/logo-sirius-blank.svg" class="img-fluid" alt="logo sirius">
                    </div>
                    <div class="d-flex justify-content-center align-items-center text-center top-margin-20">
                        <div>
                            <a href="https://www.facebook.com/AlmacenSirius/" aria-label="facebook" target="_blank">
                                <span class="iconify footer-icon" data-icon="mdi:facebook" data-width="32" data-height="32"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column justify-content-center align-items-center footer-column-container">
                    <h4 class="text-center main-color"> Enlaces de Interés </h4>
                    <ul class="footer-menu top-margin-20">
                        <li><a href="../index.html"> INICIO </a></li>
                        <li><a href="empresa.html" class="text-center"> NUESTRA EMPRESA </a></li>
                        <li><a href="servicio-almacen.html">ALMACENAJE</a></li>
                        <li><a href="logistica-integral.html"> LOGÍSTICA INTEGRAL </a></li>
                        <li><a href="contacto.html"> CONTACTO </a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column justify-content-center align-items-center footer-column-container">
                    <h4 class="text-center main-color footer-top-margin"> Encuéntranos </h4>
                    <p class="text-white footer-text-size top-margin-20">CAR.Panamericana Sur KM. 1308 MZA. R Lote. 2,27 OTR. Complejo ZofraTacna (LTES 1,2,27 Y 28) Tacna – Perú</p>
                    <div class="d-flex flex-column justify-content-center align-items-center top-margin-16">
                        <div class="d-flex justify-content-center align-items-center top-bottom-padding-5">
                            <span class="iconify text-white" data-icon="ant-design:mail-twotone" ></span>
                            <img src="../assets/images/correo.svg" class="mail-image-one-footer left-margin-10" alt="">
                        </div>
                        <div class="d-flex justify-content-center align-items-center top-bottom-padding-5">
                            <span class="iconify text-white" data-icon="ant-design:mail-twotone" ></span>
                            <img src="../assets/images/correo-sirius-2.svg" class="mail-image-two-footer left-margin-10" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<a id="back-to-top" href="#" class="back-to-top" role="button"> <!-- button up -->
    <img src="../assets/images/button-up.svg" class="button-top" alt="hacia el inicio">
</a>

<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script> <!-- API icons-->
<script src="../assets/bootstrap/js/bootstrap.js"></script> <!-- bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> <!-- jquery for scroll -->
<script src="../assets/scripts/scroll-up.js"></script> <!-- scroll -->
</body>
</html>