<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Logística - Almacén Sirius</title>
    <meta name="description" content="Gestionamos trámites administrativos, portuarios y aduaneros necesarios para importación, exportación y reexpedición.">
    <meta name="keywords" content="importación, exportación, reexpedición, aduana, trámite aduanero.">
    <meta name="locale" content="es_pe">
    <meta name="robots" content="index">
    <meta property="og:title" content="Logística - Almacén Sirius | Perú">
    <meta property="og:description" content="Gestionamos trámites administrativos, portuarios y aduaneros necesarios para importación, exportación y reexpedición.">
    <meta property="og:image" content="">
    <meta name="theme-color" content="#1E8946">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.css"> <!-- bootstrap -->
    <link rel="stylesheet" href="../assets/styles/style.css">

</head>
<body>
<header>
    <div class="pre-header">
        <section class="container pre-header-padding"> <!-- pre header-->
            <div class="row align-items-center">
                <div class="col-9">
                    <div class="d-flex">
                        <span class="iconify text-white" data-icon="ant-design:mail-twotone" ></span>
                        <img src="../assets/images/correo-sirius-2.svg" class="mail-image-two left-padding-10 mobile-view-no" alt="">
                        <span class="iconify text-white left-margin-20 phone-view-no tablet-small-view-no" data-icon="ant-design:mail-twotone" ></span>
                        <img src="../assets/images/correo.svg" class="mail-image-one left-padding-10 phone-view-no tablet-small-view-no" alt="">
                    </div>
                </div>
                <div class="col-3">
                    <div class="d-flex justify-content-end"> <!-- redes sociales -->
                        <a href="https://facebook.com/" target="_blank">
                            <span class="iconify text-white" data-icon="dashicons:whatsapp" data-width="20" data-height="20"></span>
                        </a>
                        <a href="https://facebook.com/" target="_blank">
                            <span class="iconify text-white left-margin-10" data-icon="mdi:facebook" data-width="20" data-height="20"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="background-secondary-color"> <!-- header-->
        <div class="container top-bottom-padding-15">
            <div class="d-flex justify-content-between align-items-center">
                <div class="header-logo-size"> <!-- logo -->
                    <a href="#"><img src="../assets/images/logo-sirius-blank.svg" class="img-fluid" alt="logo sirius"></a>
                </div>
                <nav class="desktop-view-no"> <!-- menu -->
                    <input id="menu-toggle" type="checkbox" />
                    <label class='menu-button-container' for="menu-toggle">
                        <div class='menu-button'></div>
                    </label>
                    <ul class="menu">
                        <li><a href="../index.html"> INICIO </a></li>
                        <li><a href="empresa.html"> NUESTRA EMPRESA </a></li>
                        <li><a href="servicio-almacen.html">ALMACENAJE</a></li>
                        <li><a href="servicio-logistica.html"> LOGÍSTICA </a></li>
                        <li><a href="contacto.html"> CONTACTO </a></li>
                    </ul>
                </nav>
                <nav class="phone-view-no tablet-small-view-no tablet-medium-view-no"> <!-- menu desktop -->
                    <ul class="header-menu-desktop">
                        <li>
                            <div class="menu-container-desktop"><a href="../index.html" >INICIO</a></div>
                        </li>
                        <li>
                            <div class="menu-container-desktop"><a href="empresa.html"> EMPRESA </a></div>
                        </li>
                        <li>
                            <div class="menu-container-desktop"><a href="servicio-almacen.html">ALMACENAJE</a></div>
                        </li>
                        <li>
                            <div class="menu-container-desktop"><a href="servicio-logistica.html"> LOGÍSTICA </a></div>
                        </li>
                        <li>
                            <div class="menu-container-desktop right-no-margin"><a href="contacto.html">CONTACTO</a></div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </section>
</header>

<main>
    <section> <!-- hero -->
        <div class="page-hero">
            <div class="bg-overlay"></div>
            <div class="container">
                <article class="d-flex flex-column justify-content-center align-items-center">
                    <h1 class="text-black">Servicios Logísticos</h1>
                    <nav aria-label="ruta de exploración">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="../index.html">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Logística</li>
                        </ol>
                    </nav>
                </article>
            </div>
        </div>
    </section>
</main>

<footer class="background-secondary-color">
    <div class="container">
        <div class="row justify-content-center align-items-baseline top-bottom-padding-50">
            <div class="col">
                <div class="d-flex flex-column justify-content-center align-items-center footer-column-container bottom-margin-1rem">
                    <h4 class="text-center main-color"> Almacén Sirius </h4>
                    <div class="footer-logo-size top-margin-20"> <!-- logo -->
                        <img src="../assets/images/logo-sirius-blank.svg" class="img-fluid" alt="logo sirius">
                    </div>
                    <div class="d-flex justify-content-center align-items-center text-center top-margin-20">
                        <a href="https://facebook.com/" target="_blank">
                            <span class="iconify footer-icon" data-icon="dashicons:whatsapp" data-width="32" data-height="32"></span>
                        </a>
                        <a href="https://facebook.com/" class="left-padding-20" target="_blank">
                            <span class="iconify footer-icon" data-icon="mdi:facebook" data-width="32" data-height="32"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column justify-content-center align-items-center footer-column-container">
                    <h4 class="text-center main-color"> Enlaces de Interés </h4>
                    <ul class="footer-menu top-margin-20">
                        <li><a href="../index.html"> INICIO </a></li>
                        <li><a href="empresa.html" class="text-center"> NUESTRA EMPRESA </a></li>
                        <li><a href="servicio-almacen.html">ALMACENAJE</a></li>
                        <li><a href="servicio-logistica.html"> LOGÍSTICA </a></li>
                        <li><a href="contacto.html"> CONTACTO </a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column justify-content-center align-items-center footer-column-container">
                    <h4 class="text-center main-color footer-top-margin"> Encuéntranos </h4>
                    <p class="text-white footer-text-size top-margin-20">CAR.Panamericana Sur KM. 1308 MZA. R Lote. 2,27 OTR. Complejo ZofraTacna (LTES 1,2,27 Y 28) Tacna – Perú</p>
                    <div class="d-flex flex-column justify-content-center align-items-center top-margin-16">
                        <div class="d-flex justify-content-center align-items-center top-bottom-padding-5">
                            <span class="iconify text-white" data-icon="ant-design:mail-twotone" ></span>
                            <img src="../assets/images/correo.svg" class="mail-image-one-footer left-margin-10" alt="">
                        </div>
                        <div class="d-flex justify-content-center align-items-center top-bottom-padding-5">
                            <span class="iconify text-white" data-icon="ant-design:mail-twotone" ></span>
                            <img src="../assets/images/correo-sirius-2.svg" class="mail-image-two-footer left-margin-10" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script> <!-- API icons-->
<script src="../assets/bootstrap/js/bootstrap.js"></script> <!-- bootstrap -->
</body>
</html>